#fond {
  background: url("../../../img/image\ 12.png"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 650px;
  object-fit: cover;
  .fond {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    h1 {
      color: #ff7c3b;
      font-family: Montserrat;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    p {
      color: #fff;
      text-align: center;
      font-family: Open Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
