#fondom {
  background: url("../../img/image\ 16.png") center/cover no-repeat;
  padding: 100px 0;
}
.fondom h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;
  color: #ff7c3b;
  padding: 20px 0 100px 0;
}
.map {
  width: 100%;
}
.fondom-big {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.fondom-block h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  color: #000000;
}
.fondom-block p {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: #ff7c3b;
}
.wifi {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // text-align: center;
  gap: 20px;
  margin-left: 80px;
}
.otchet h1 {
  font-family: " Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;
  color: #ff7c3b;
}
.otchet p {
  font-family: "Open", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  margin: 10px 0 40px 0;
}
.otchet-block h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  // text-align: center;
  color: #000000;
}
.otchet-block h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  // text-align: center;
  color: #ff7c3b;
}
.otchet button {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  background: #ff7c3b;
  color: aliceblue;
  padding: 10px 40px;
  border: none;
  border-radius: 20px;
}
#otchet {
  padding: 40px 0;
}
.big-otchet {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 200px;
  // margin: 40px 0 ;
  margin-top: 100px;
}
.karta {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 300px;
  padding: 50px 0;
}
.karta-title h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: center;
  color: #ff7c3b;
}
.karta-title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.karta-title h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.karta-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.what {
  color: green;
  font-size: 24px;
}
.tel {
  color: white;
  background: rgb(120, 154, 237);
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inst {
  color: darkmagenta;
  font-size: 24px;
}
#partner {
  background: #ff7c3b;
  padding: 40px 0;
  position: relative;
}
.partner h1 {
  font-family: " Mistral", sans-serif;
  font-size: 96px;
  font-weight: 400;
  line-height: 96px;
  letter-spacing: 0em;
  position: absolute;
  text-align: center;
  z-index: 2;
  margin-top: -880px;
  color: #ff7c3b;
  margin-left: 400px;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 920px) {
  .fondom-block h2 {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  .fondom-big {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .big-otchet {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 60px;
    margin-top: 39px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .otchet-block h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    color: #000000;
  }
  .map {
    width: 100%;
  }
  .karta-title {
    width: 100%;
    text-align: center;
  }
}
