#home {
  position: relative;
  padding: 100px 0;

  svg {


    path {
      .first-path {
        stroke: black;
        fill: transparent;
        transition: stroke 0.3s, fill 0.3s;
      }

      .second-path {
        stroke: black;
        fill: transparent;
        transition: stroke 0.3s, fill 0.3s;
      }

      .first-path:hover {
        stroke: red;
        fill: yellow;
      }

      .second-path:hover {
        stroke: blue;
        fill: lightblue;
      }
    }

  }

  .kg {
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    right: 0;
    z-index: -1;

  }

  .home {
    display: flex;
    justify-content: space-between;
    padding-top: 41px;

    .border {
      width: 201px;
      height: 20px;
      flex-shrink: 0;
      border-radius: 100px;
      background: #FF7C3B;
    }

    &__text {
      padding-top: 100px;

      h1 {
        color: #FF7C3B;
        font-family: Montserrat;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 1px;
      }

      p {
        color: #000;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
      }

      &-btn {
        display: flex;
        gap: 20px;

        a {
          color: #FFF;
          font-family: Montserrat;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 1px;
          border-radius: 30px;
          background: #FF7C3B;
          padding: 14px 40px;
        }

        .active {
          color: #FF7C3B;
          font-family: Montserrat;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 1px;
          border-radius: 30px;
          padding: 14px 40px;
          border: 2px solid #FF7C3B;
          background: none;
        }
      }
    }

    .home__img {
      cursor: pointer;
      &.zoomed {
        img {
          width: 100vw;
          height: 100vh;
          object-fit: contain;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 1000;
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }

}