#programm {
  padding: 100px 0;
  background: #e4e4e4;

  h1 {
    color: #ff7c3b;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    padding: 0 0 50px 0;
    line-height: normal;
  }

  .programm {
    overflow-x: scroll;
    display: flex;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
