.wrapperreg {
  padding-top: 660px;

  #bank {
    padding: 100px 0;
    background: #000;

    .bank {
      display: flex;
      justify-content: space-between;

      &__reg {
        &-img {
          display: flex;
          align-items: center;
          gap: 20px;

          h3 {
            color: #fff;
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 2.001px;

            span {
              color: #ff7c3b;
              font-family: Montserrat;
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              letter-spacing: 2.001px;
            }
          }
        }
      }
    }
  }
}

#requisites {
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  z-index: -1;
  background-image: url("../../img/regusit.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;

  img {
  }

  .requisites {
    padding-top: 250px;

    h1 {
      color: #fff;
      text-align: center;
      font-family: Montserrat;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;

      span {
        color: #ff7c3b;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
      }
    }

    h2 {
      color: #ff7c3b;
      font-family: Montserrat;
      font-size: 64px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1px;
      text-align: center;
    }

    p {
    }
  }
}

@media screen and (max-width: 968px) {
  .wrapperreg #bank .bank {
    flex-direction: column;
    align-items: center;
  }
}
.bank__img img {
  width: 100%;
}

@media screen and (max-width: 568px) {
  .wrapperreg #bank .bank__reg-img h3 {
    color: #fff;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.001px;
  }
  .wrapperreg #bank .bank__reg-img h3 span {
    color: #ff7c3b;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.001px;
  }
  .wrapperreg #bank .bank__reg-img {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 13px 0;
  }
  #requisites .requisites h1 {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
  }
  #requisites .requisites h2 {
    color: #ff7c3b;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
  }
}
