#gallery {
  .gallery {
    position: relative;

    .kg {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      width: 100%;
      padding-top: 180px;
    }

    &__text {
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      h1 {
        color: #000;
        text-align: center;
        font-family: Montserrat;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        span {
          color: #ff7c3b;
          font-family: Montserrat;
          font-size: 80px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }

      &-img {
        .gl1 {
          position: absolute;
          top: 20%;
          right: 67%;
        }

        .gl2 {
          position: absolute;
          top: 60%;
          left: 57%;
        }

        .gl3 {
          position: absolute;
          top: 15%;
          left: 70%;
        }
      }
    }
  }
}

#title {
  padding-top: 50px;

  .title {
    h1 {
      text-align: center;
      color: #ff7c3b;
      font-family: Montserrat;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    &__img {
      display: flex;
      justify-content: space-between;
      padding-bottom: 40px;
      img {
        max-width: 600px;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  #title .title__img img {
    max-width: 45%;
    object-fit: cover;
  }
  #gallery .gallery__img-img .gl3 {
    position: absolute;
    top: 30%;
    left: 70%;
    width: 25%;
  }
  #gallery .gallery__img-img .gl2 {
    position: absolute;
    top: 66%;
    left: 50%;
    width: 25%;
  }
  #gallery .gallery__img-img .gl1 {
    position: absolute;
    top: 41%;
    right: 67%;
    width: 30%;
  }
  #gallery .gallery__img h1 {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 50px 0;
  }
  #gallery .gallery__img h1 span {
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
@media screen and (max-width: 499px) {
  #gallery .gallery__img h1 {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 0;
  }
  #gallery .gallery__img h1 span {
    text-align: center;
    font-family: Montserrat;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 0;
  }
}
