.container {
  max-width: 1290px;
  padding: 0 15px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
* {
  /* border: 1px solid green; */
  margin: 0;
  padding: 0;
}
